<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEELADRI'S FUEL SERVICES</title>
    <link rel="icon" href="/images/neeladris-fuel-services-high-resolution-logo-black-transparent.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand ml-sm-5  p-2 m-1  d-sm-block" href="#">
                <h5 class="logo_head"> <span class="half_hed">N</span> Fuel Services</h5>
            </a>
    
<<<<<<< HEAD
            <div class="d-flex ml-auto order-lg-2">
                <a href="/contactUs" class="btn btn-outline-light mr-2">Contact Us</a>
            </div>
=======
            <!-- Contact Us and Cart Buttons -->
            <div class="d-none d-sm-flex ml-auto order-lg-2">
            <a href="/contactUs" class="btn btn-outline-light mr-2">Contact Us</a>
            </div>


            <!-- Navbar Links -->
>>>>>>> 42f02bef7813c06c040443028bc2e16d1c7ed2a9
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="#">Products</a>
                    <a class="nav-link" href="#ContactUs">ContactUs</a>
                    <a class="nav-link" href="#Location">Location</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container py-5 mt-2">
        <h1 class="text-center pt-5">PRODUCTS</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

            <div class="col mt-3">
                <div class="card">
                    <img src="/images/petrol1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">PETROL XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/cng1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CNG Bio-Fuel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>
       

            <div class="col mt-3">
                <div class="card">
                    <img src="/images/diesel1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Diesel XP40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>
            

            <div class="col mt-3">
                <div class="card">
                    <img src="/images/petrol2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Petrol XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/cng2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CNG Bio-Fuel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/diesel2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Diesel XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


             <div class="col mt-3">
                <div class="card">
                    <img src="/images/petrol3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Petrol XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/cng3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CNG Bio_fuel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+91889708265757"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/diesel3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Diesel XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>



            <div class="col mt-3">
                <div class="card">
                    <img src="/images/petrol4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Petrol XP_40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>



            <div class="col mt-3">
                <div class="card">
                    <img src="/images/cng4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CNG Bio-Fuel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/diesel4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Diesel XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                    
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/petrol5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Petrol XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>



            <div class="col mt-3">
                <div class="card">
                    <img src="/images/cng5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CNG Bio-Fuel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/diesel5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Diesel XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/petrol6.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Petrol XP-40</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/cng6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CNG Bio-Fuel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+918897082657"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="/images/diesel6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Diesel</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


           




        </div>
    </div>

<div class="whatsapp_float">
    <a href="https://wa.me/918897082657" target="_blank"><img src="/images/wt.png" class="whatsapp_float_btn" alt=""></a>
</div>



            <div class="col-12 " id="Location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15151.636905703892!2d83.91561359714072!3d18.3057589239431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3c3fe2d47a07d7%3A0x3a226e42f0209d34!2sPedapadu%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1713082166060!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>


    <div class="wcss pt-5 pb-5" id="ContactUs">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7  order-md-2">
                    <div class="text-center d-flex flex-column justify-content-center">
                        <h3 class="hh">In case of any issue in any product please contact us</h3>

                    </div>
                    <div class="d-md-none text-center">
                        <img src="/images/all.jpg" class="imge" alt="" />
                    </div>
                    <div class="col-12 text-center">
                        <a href="/contactUs"><button class="btn btn-outline-light" type="submit">CONTACT US</button></a>
                    </div>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block">
                    <img src="/images/all.jpg" class="imge" alt="" style="border-radius: 10px;"/>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    
</body>

</html>
